# Week 2 Day 2

# SQL (Continued)

* [Cheatsheet 1](https://www.sqltutorial.org/sql-cheat-sheet/)
* [Cheatsheet 2](https://www.datacamp.com/cheat-sheet/sql-basics-cheat-sheet)

## Objectives

### 1. Connecting To Postgres With Python

### Installing psycopg2

* Use the command below:

```bash
pip install psycopg2-binary
```

<br>


The following keywords/statements will be covered

### 2. Aggregate Functions

* `AVG()`

* `MIN()`

* `MAX()`

* `COUNT()`

* `SUM()`

### Other Statements
* `GROUP BY`
* `HAVING`
* `CASE`

In [1]:
# Import 3rd party libararies
import pandas as pd

# Import builtin modules
import sqlite3
import json
from typing import List, Tuple, Dict, Union, Optional


import psycopg2  # Postgres Python Connector

# Black code formatter (Optional. You can comment this!)
%load_ext lab_black

In [2]:
# Load file
fp = "secret.json"

with open(fp, "r") as file:
    secret = json.load(file)

In [3]:
secrets_ = {
    "dbname": "myDB",
    "user": "postgres",
    "password": "password",
    "host": "localhost",
    "port": "5432",
}

secrets_

{'dbname': 'myDB',
 'user': 'postgres',
 'password': 'password',
 'host': 'localhost',
 'port': '5432'}

### Connect To A Postgres DB  (Method 1)

```shell
pip install psycopg2
```

* [Docs](https://docs.sqlalchemy.org/en/20/core/engines.html#database-urls)

```Python
# Connect to your postgres DB
conn = psycopg2.connect("dbname=db_name user=postgres password=enter_your_password")

# OR 
conn = psycopg2.connect(dbname="db_name", 
                        user="postgres", 
                        password="enter_your_password")

# Open a cursor to perform database operations
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT * FROM table_name")

# Retrieve query results
records = cursor.fetchall()
records
```

conn = psycopg2.connect(dbname="db_name", 
                        user="postgres", 
                        password="enter_your_password")

In [4]:
def random_function(
    Course: str, Instructor: str, Time: str, Date: str, Duration: str
) -> dict:
    result = dict()
    # Add the key-value pairs
    result["Course"] = Course
    result["Instructor"] = Instructor
    result["Time"] = Time
    result["Date"] = Date
    result["Duration"] = Duration
    result["Message"] = "Success!"
    return result

In [5]:
random_function(
    Course="Data Science",
    Instructor="Adam",
    Time="1PM",
    Date="Feb 14, 2023",
    Duration="2 hours",
)

{'Course': 'Data Science',
 'Instructor': 'Adam',
 'Time': '1PM',
 'Date': 'Feb 14, 2023',
 'Duration': '2 hours',
 'Message': 'Success!'}

In [6]:
my_dict = dict(
    Course="Data Science",
    Instructor="Adam",
    Time="1PM",
    Date="Feb 14, 2023",
    Duration="2 hours",
)

my_dict

{'Course': 'Data Science',
 'Instructor': 'Adam',
 'Time': '1PM',
 'Date': 'Feb 14, 2023',
 'Duration': '2 hours'}

In [7]:
random_function(**my_dict)

{'Course': 'Data Science',
 'Instructor': 'Adam',
 'Time': '1PM',
 'Date': 'Feb 14, 2023',
 'Duration': '2 hours',
 'Message': 'Success!'}

In [8]:
# Method 1
random_function(
    Course="Software Engineering",
    Instructor="Idowu Lawal",
    Time="6:00PM",
    Date="10-11-2022",
    Duration="3 hours",
)

{'Course': 'Software Engineering',
 'Instructor': 'Idowu Lawal',
 'Time': '6:00PM',
 'Date': '10-11-2022',
 'Duration': '3 hours',
 'Message': 'Success!'}

In [9]:
# Method 2 (Dict unpacking)
my_dict = {
    "Course": "Data Science",
    "Instructor": "Chinedu",
    "Time": "5:00PM",
    "Date": "10-11-2022",
    "Duration": "2 hours",
}


random_function(**my_dict)

{'Course': 'Data Science',
 'Instructor': 'Chinedu',
 'Time': '5:00PM',
 'Date': '10-11-2022',
 'Duration': '2 hours',
 'Message': 'Success!'}

<br>
<hr>

```python
conn = psycopg2.connect(dbname="db_name", 
                        user="postgres", 
                        password="enter_your_password")
```

In [10]:
# Create connection
conn = psycopg2.connect(**secret)

In [11]:
# Create a cursor to perform database operations
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT * FROM employees")

# Retrieve query results
records = cursor.fetchall()
records

[(1, 'Benjamin', datetime.date(2016, 1, 1), 'Data', 109000),
 (2, 'Uju', datetime.date(2012, 11, 1), 'Engineering', 122000),
 (3, 'Kemi', datetime.date(2019, 1, 12), 'HR', 31400),
 (4, 'Obi', datetime.date(2012, 8, 29), 'Management', 239700),
 (5, 'Usman', datetime.date(2016, 8, 29), 'Management', 129700),
 (6, 'Steve', datetime.date(2021, 9, 1), 'Data', 94800),
 (7, 'Vince', datetime.date(2019, 1, 12), 'Product', 90400),
 (8, 'Clement', datetime.date(2022, 3, 1), 'Engineering', 82000),
 (9, 'Marylene', datetime.date(2019, 5, 11), 'HR', 73400),
 (10, 'Paul', datetime.date(2019, 1, 12), 'Product', 63400),
 (11, 'Samantha', datetime.date(2012, 8, 29), 'Management', 89700),
 (12, 'Curry', datetime.date(2021, 9, 1), 'Data', 194800),
 (13, 'Segun', datetime.date(2019, 1, 12), 'Product', 110000),
 (14, 'Anita', datetime.date(2022, 3, 1), 'Engineering', 178000),
 (15, 'Marylene', datetime.date(2019, 5, 11), 'HR', 73400),
 (16, 'Aisha', datetime.date(2016, 8, 29), 'Management', 179700),
 (17, 'Sebastian', datetime.date(2018, 8, 1), 'Data', 109000),
 (18, 'Carlos', datetime.date(2022, 1, 30), 'Engineering', 99000)]

In [12]:
pd.DataFrame(data=records, columns=["id", "name", "date", "role", "salary"])

    id       name        date         role  salary
0    1   Benjamin  2016-01-01         Data  109000
1    2        Uju  2012-11-01  Engineering  122000
2    3       Kemi  2019-01-12           HR   31400
3    4        Obi  2012-08-29   Management  239700
4    5      Usman  2016-08-29   Management  129700
5    6      Steve  2021-09-01         Data   94800
6    7      Vince  2019-01-12      Product   90400
7    8    Clement  2022-03-01  Engineering   82000
8    9   Marylene  2019-05-11           HR   73400
9   10       Paul  2019-01-12      Product   63400
10  11   Samantha  2012-08-29   Management   89700
11  12      Curry  2021-09-01         Data  194800
12  13      Segun  2019-01-12      Product  110000
13  14      Anita  2022-03-01  Engineering  178000
14  15   Marylene  2019-05-11           HR   73400
15  16      Aisha  2016-08-29   Management  179700
16  17  Sebastian  2018-08-01         Data  109000
17  18     Carlos  2022-01-30  Engineering   99000

In [13]:
# Execute a query
cursor.execute("SELECT COUNT(*) FROM atlanta_crime;")

# Retrieve query results
records = cursor.fetchall()
records

[(5001,)]

## Using Pandas, SQLAlchemy And Postgres (Method 2)

* [Docs](https://docs.sqlalchemy.org/en/20/core/engines.html#database-urls)

```bash
Scheme: "postgresql+psycopg2://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<DATABASE_NAME>"

DATABASE_URI = 'postgresql+psycopg2://postgres:password@localhost:5432/myDB'
```

In [14]:
# Get credentials  (Postgres)
username = secret.get("user")
password = secret.get("password")
dbname = secret.get("dbname")
host = secret.get("host")
port = secret.get("port")

DATABASE_URI = f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{dbname}"

In [15]:
# (SQLAlchemy)
from sqlalchemy import create_engine


# Create an Engine instance which enables
# you to interact and connect to the DB
db_engine = create_engine(DATABASE_URI, pool_recycle=-1).connect()

In [16]:
sql_query = """
            SELECT * FROM employees;
         """

# Read using Pandas
pd.read_sql(sql=sql_query, con=db_engine)

    employee_id employee_name year_joined   department  salary
0             1      Benjamin  2016-01-01         Data  109000
1             2           Uju  2012-11-01  Engineering  122000
2             3          Kemi  2019-01-12           HR   31400
3             4           Obi  2012-08-29   Management  239700
4             5         Usman  2016-08-29   Management  129700
5             6         Steve  2021-09-01         Data   94800
6             7         Vince  2019-01-12      Product   90400
7             8       Clement  2022-03-01  Engineering   82000
8             9      Marylene  2019-05-11           HR   73400
9            10          Paul  2019-01-12      Product   63400
10           11      Samantha  2012-08-29   Management   89700
11           12         Curry  2021-09-01         Data  194800
12           13         Segun  2019-01-12      Product  110000
13           14         Anita  2022-03-01  Engineering  178000
14           15      Marylene  2019-05-11           HR   73400
15           16         Aisha  2016-08-29   Management  179700
16           17     Sebastian  2018-08-01         Data  109000
17           18        Carlos  2022-01-30  Engineering   99000

### Create A JSON File

In [17]:
secrets_ = {
    "dbname": "myDB",
    "user": "postgres",
    "password": "password",
    "host": "localhost",
    "port": "my_port",
}

secrets_

{'dbname': 'myDB',
 'user': 'postgres',
 'password': 'password',
 'host': 'localhost',
 'port': 'my_port'}

In [18]:
filepath = "data/secrets_1.json"

# w: create file
with open(file=filepath, mode="w") as fp:
    json.dump(obj=secrets_, fp=fp, indent=4)

## Aggregate Functions

### AVERAGE

In [19]:
sql_query = """
            SELECT * FROM employees
            LIMIT 5;
         """

# Read using Pandas
pd.read_sql(sql=sql_query, con=db_engine)

   employee_id employee_name year_joined   department  salary
0            1      Benjamin  2016-01-01         Data  109000
1            2           Uju  2012-11-01  Engineering  122000
2            3          Kemi  2019-01-12           HR   31400
3            4           Obi  2012-08-29   Management  239700
4            5         Usman  2016-08-29   Management  129700

In [20]:
# What is the average salary of the employees?

In [21]:
sql_query = """
        SELECT AVG(salary) AS avg_salary
        FROM employees;
        """

# Read using Pandas
pd.read_sql(sql=sql_query, con=db_engine)

      avg_salary
0  114966.666667

In [22]:
sql_query = """
        SELECT ROUND(AVG(salary), 2) AS avg_salary
        FROM employees;
        """

# Read using Pandas
pd.read_sql(sql=sql_query, con=db_engine)

   avg_salary
0   114966.67

### Connect Using IPython-sql

* [Docs](https://pypi.org/project/ipython-sql/)

In [23]:
# Get credentials  (Postgres)
username = secret.get("user")
password = secret.get("password")
dbname = secret.get("dbname")
host = secret.get("host")
port = secret.get("port")

DATABASE_URI = f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{dbname}"

In [24]:
# Load library
%load_ext sql


# Load DB
# %sql sqlite:///db/example.db
%sql postgresql://{username}:{password}@{host}/{dbname}

### MINIMUM

In [25]:
# What is the minimum salary of the employees?

In [26]:
%%sql

SELECT ROUND(MIN(salary), 2) AS avg_salary
        FROM employees;

 * postgresql://postgres:***@localhost/myDB
1 rows affected.

[(Decimal('31400.00'),)]

### I'll Use A SQLite DB So That You Can Replicate The Examples On Your Own

* The DB can be found [here](https://drive.google.com/file/d/1Lh87-ribiksg9AcOjl6o6Y9QCk6X9gvQ/view?usp=sharing)

In [27]:
# Load library
%load_ext sql


# Load DB
%sql sqlite:///db/attr_data.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
%%sql

SELECT name FROM sqlite_master;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[('attrition_records',), ('sqlite_sequence',)]

In [29]:
%%sql

SELECT * FROM attrition_records
LIMIT 20;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(1, 41, 'Yes', 'Travel_Rarely', 1102, 'Sales', 1, 2, 'Life Sciences', 1, 1, 2, 'Female', 94, 3, 2, 'Sales Executive', 4, 'Single', 5993, 19479, 8, 'Y', 'Yes', 11, 3, 1, 80, 0, 8, 0, 1, 6, 4, 0, 5),
 (2, 49, 'No', 'Travel_Frequently', 279, 'Research & Development', 8, 1, 'Life Sciences', 1, 2, 3, 'Male', 61, 2, 2, 'Research Scientist', 2, 'Married', 5130, 24907, 1, 'Y', 'No', 23, 4, 4, 80, 1, 10, 3, 3, 10, 7, 1, 7),
 (3, 37, 'Yes', 'Travel_Rarely', 1373, 'Research & Development', 2, 2, 'Other', 1, 4, 4, 'Male', 92, 2, 1, 'Laboratory Technician', 3, 'Single', 2090, 2396, 6, 'Y', 'Yes', 15, 3, 2, 80, 0, 7, 3, 3, 0, 0, 0, 0),
 (4, 33, 'No', 'Travel_Frequently', 1392, 'Research & Development', 3, 4, 'Life Sciences', 1, 5, 4, 'Female', 56, 3, 1, 'Research Scientist', 3, 'Married', 2909, 23159, 1, 'Y', 'Yes', 11, 3, 3, 80, 0, 8, 3, 3, 8, 7, 3, 0),
 (5, 27, 'No', 'Travel_Rarely', 591, 'Research & Development', 2, 1, 'Medical', 1, 7, 1, 'Male', 40, 3, 1, 'Laboratory Technician', 2, 'Married', 3468, 16632, 9, 'Y', 'No', 12, 3, 4, 80, 1, 6, 3, 3, 2, 2, 2, 2),
 (6, 32, 'No', 'Travel_Frequently', 1005, 'Research & Development', 2, 2, 'Life Sciences', 1, 8, 4, 'Male', 79, 3, 1, 'Laboratory Technician', 4, 'Single', 3068, 11864, 0, 'Y', 'No', 13, 3, 3, 80, 0, 8, 2, 2, 7, 7, 3, 6),
 (7, 59, 'No', 'Travel_Rarely', 1324, 'Research & Development', 3, 3, 'Medical', 1, 10, 3, 'Female', 81, 4, 1, 'Laboratory Technician', 1, 'Married', 2670, 9964, 4, 'Y', 'Yes', 20, 4, 1, 80, 3, 12, 3, 2, 1, 0, 0, 0),
 (8, 30, 'No', 'Travel_Rarely', 1358, 'Research & Development', 24, 1, 'Life Sciences', 1, 11, 4, 'Male', 67, 3, 1, 'Laboratory Technician', 3, 'Divorced', 2693, 13335, 1, 'Y', 'No', 22, 4, 2, 80, 1, 1, 2, 3, 1, 0, 0, 0),
 (9, 38, 'No', 'Travel_Frequently', 216, 'Research & Development', 23, 3, 'Life Sciences', 1, 12, 4, 'Male', 44, 2, 3, 'Manufacturing Director', 3, 'Single', 9526, 8787, 0, 'Y', 'No', 21, 4, 2, 80, 0, 10, 2, 3, 9, 7, 1, 8),
 (10, 36, 'No', 'Travel_Rarely', 1299, 'Research & Development', 27, 3, 'Medical', 1, 13, 3, 'Male', 94, 3, 2, 'Healthcare Representative', 3, 'Married', 5237, 16577, 6, 'Y', 'No', 13, 3, 2, 80, 2, 17, 3, 2, 7, 7, 7, 7),
 (11, 35, 'No', 'Travel_Rarely', 809, 'Research & Development', 16, 3, 'Medical', 1, 14, 1, 'Male', 84, 4, 1, 'Laboratory Technician', 2, 'Married', 2426, 16479, 0, 'Y', 'No', 13, 3, 3, 80, 1, 6, 5, 3, 5, 4, 0, 3),
 (12, 29, 'No', 'Travel_Rarely', 153, 'Research & Development', 15, 2, 'Life Sciences', 1, 15, 4, 'Female', 49, 2, 2, 'Laboratory Technician', 3, 'Single', 4193, 12682, 0, 'Y', 'Yes', 12, 3, 4, 80, 0, 10, 3, 3, 9, 5, 0, 8),
 (13, 31, 'No', 'Travel_Rarely', 670, 'Research & Development', 26, 1, 'Life Sciences', 1, 16, 1, 'Male', 31, 3, 1, 'Research Scientist', 3, 'Divorced', 2911, 15170, 1, 'Y', 'No', 17, 3, 4, 80, 1, 5, 1, 2, 5, 2, 4, 3),
 (14, 34, 'No', 'Travel_Rarely', 1346, 'Research & Development', 19, 2, 'Medical', 1, 18, 2, 'Male', 93, 3, 1, 'Laboratory Technician', 4, 'Divorced', 2661, 8758, 0, 'Y', 'No', 11, 3, 3, 80, 1, 3, 2, 3, 2, 2, 1, 2),
 (15, 28, 'Yes', 'Travel_Rarely', 103, 'Research & Development', 24, 3, 'Life Sciences', 1, 19, 3, 'Male', 50, 2, 1, 'Laboratory Technician', 3, 'Single', 2028, 12947, 5, 'Y', 'Yes', 14, 3, 2, 80, 0, 6, 4, 3, 4, 2, 0, 3),
 (16, 29, 'No', 'Travel_Rarely', 1389, 'Research & Development', 21, 4, 'Life Sciences', 1, 20, 2, 'Female', 51, 4, 3, 'Manufacturing Director', 1, 'Divorced', 9980, 10195, 1, 'Y', 'No', 11, 3, 3, 80, 1, 10, 1, 3, 10, 9, 8, 8),
 (17, 32, 'No', 'Travel_Rarely', 334, 'Research & Development', 5, 2, 'Life Sciences', 1, 21, 1, 'Male', 80, 4, 1, 'Research Scientist', 2, 'Divorced', 3298, 15053, 0, 'Y', 'Yes', 12, 3, 4, 80, 2, 7, 5, 2, 6, 2, 0, 5),
 (18, 22, 'No', 'Non-Travel', 1123, 'Research & Development', 16, 2, 'Medical', 1, 22, 4, 'Male', 96, 4, 1, 'Laboratory Technician', 4, 'Divorced', 2935, 7324, 1, 'Y', 'Yes', 13, 3, 2, 80, 2, 1, 2, 2, 1, 0, 0, 0),
 (19, 53, 'No', 'Travel_Rarely', 1219, 'Sales', 2, 4, 'Life Sciences', 1, 23, 1, 'Female', 78, 2, 4, 'Manager', 4, 'Married', 15427, 22021, 2, 'Y', 'No', 16, 3, 3, 80, 0, 31, 3, 3, 25, 8, 3, 7),
 (20, 38, 'No', 'Travel_Rarely', 371, 'Research & Development', 2, 3, 'Life Sciences', 1, 24, 4, 'Male', 45, 3, 1, 'Research Scientist', 4, 'Single', 3944, 4306, 5, 'Y', 'Yes', 11, 3, 3, 80, 0, 6, 3, 3, 3, 2, 1, 2)]

In [30]:
# How old is the oldest employee?

In [31]:
%%sql

SELECT ROUND(MAX(Age), 2) AS max_age
        FROM attrition_records;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(60.0,)]

In [32]:
# Who is/are the oldest employee(s?
# You might need to use sub-queries

In [33]:
%%sql

SELECT ROUND(MAX(Age), 2) AS max_age
        FROM attrition_records;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(60.0,)]

### Avoid Hard-coding Values!!!

In [34]:
%%sql

SELECT *
    FROM attrition_records
WHERE Age = 60;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(412, 60, 'No', 'Travel_Rarely', 422, 'Research & Development', 7, 3, 'Life Sciences', 1, 549, 1, 'Female', 41, 3, 5, 'Manager', 1, 'Married', 19566, 3854, 5, 'Y', 'No', 11, 3, 4, 80, 0, 33, 5, 1, 29, 8, 11, 10),
 (428, 60, 'No', 'Travel_Frequently', 1499, 'Sales', 28, 3, 'Marketing', 1, 573, 3, 'Female', 80, 2, 3, 'Sales Executive', 1, 'Married', 10266, 2845, 4, 'Y', 'No', 19, 3, 4, 80, 0, 22, 5, 4, 18, 13, 13, 11),
 (537, 60, 'No', 'Travel_Rarely', 1179, 'Sales', 16, 4, 'Marketing', 1, 732, 1, 'Male', 84, 3, 2, 'Sales Executive', 1, 'Single', 5405, 11924, 8, 'Y', 'No', 14, 3, 4, 80, 0, 10, 1, 3, 2, 2, 2, 2),
 (880, 60, 'No', 'Travel_Rarely', 696, 'Sales', 7, 4, 'Marketing', 1, 1233, 2, 'Male', 52, 4, 2, 'Sales Executive', 4, 'Divorced', 5220, 10893, 0, 'Y', 'Yes', 18, 3, 2, 80, 1, 12, 3, 3, 11, 7, 1, 9),
 (1210, 60, 'No', 'Travel_Rarely', 370, 'Research & Development', 1, 4, 'Medical', 1, 1697, 3, 'Male', 92, 1, 3, 'Healthcare Representative', 4, 'Divorced', 10883, 20467, 3, 'Y', 'No', 20, 4, 3, 80, 1, 19, 2, 4, 1, 0, 0, 0),
 (1882, 60, 'No', 'Travel_Rarely', 422, 'Research & Development', 7, 3, 'Life Sciences', 1, 549, 1, 'Female', 41, 3, 5, 'Manager', 1, 'Married', 19566, 3854, 5, 'Y', 'No', 11, 3, 4, 80, 0, 33, 5, 1, 29, 8, 11, 10),
 (1898, 60, 'No', 'Travel_Frequently', 1499, 'Sales', 28, 3, 'Marketing', 1, 573, 3, 'Female', 80, 2, 3, 'Sales Executive', 1, 'Married', 10266, 2845, 4, 'Y', 'No', 19, 3, 4, 80, 0, 22, 5, 4, 18, 13, 13, 11),
 (2007, 60, 'No', 'Travel_Rarely', 1179, 'Sales', 16, 4, 'Marketing', 1, 732, 1, 'Male', 84, 3, 2, 'Sales Executive', 1, 'Single', 5405, 11924, 8, 'Y', 'No', 14, 3, 4, 80, 0, 10, 1, 3, 2, 2, 2, 2),
 (2350, 60, 'No', 'Travel_Rarely', 696, 'Sales', 7, 4, 'Marketing', 1, 1233, 2, 'Male', 52, 4, 2, 'Sales Executive', 4, 'Divorced', 5220, 10893, 0, 'Y', 'Yes', 18, 3, 2, 80, 1, 12, 3, 3, 11, 7, 1, 9),
 (2680, 60, 'No', 'Travel_Rarely', 370, 'Research & Development', 1, 4, 'Medical', 1, 1697, 3, 'Male', 92, 1, 3, 'Healthcare Representative', 4, 'Divorced', 10883, 20467, 3, 'Y', 'No', 20, 4, 3, 80, 1, 19, 2, 4, 1, 0, 0, 0)]

In [35]:
%%sql

SELECT COUNT(*)
    FROM attrition_records
WHERE Age = 60;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(10,)]

### A Better Approach

In [36]:
%%sql

SELECT COUNT(*) 
    FROM attrition_records
WHERE Age = (SELECT ROUND(MAX(Age), 2) AS max_age
        FROM attrition_records);

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(10,)]

### COUNT

In [37]:
# How many employees are in the database?

In [38]:
%%sql

SELECT COUNT(Age) AS num_employees
        FROM attrition_records;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(2940,)]

In [39]:
# What is the total monthly income of the divorced employees?

### SUM

In [40]:
%%sql

SELECT * FROM attrition_records
LIMIT 2

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(1, 41, 'Yes', 'Travel_Rarely', 1102, 'Sales', 1, 2, 'Life Sciences', 1, 1, 2, 'Female', 94, 3, 2, 'Sales Executive', 4, 'Single', 5993, 19479, 8, 'Y', 'Yes', 11, 3, 1, 80, 0, 8, 0, 1, 6, 4, 0, 5),
 (2, 49, 'No', 'Travel_Frequently', 279, 'Research & Development', 8, 1, 'Life Sciences', 1, 2, 3, 'Male', 61, 2, 2, 'Research Scientist', 2, 'Married', 5130, 24907, 1, 'Y', 'No', 23, 4, 4, 80, 1, 10, 3, 3, 10, 7, 1, 7)]

In [41]:
%%sql

SELECT DISTINCT(MaritalStatus)
FROM attrition_records;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[('Single',), ('Married',), ('Divorced',)]

In [42]:
%%sql

SELECT * FROM attrition_records
WHERE LOWER(MaritalStatus) LIKE "%divorce%";

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(8, 30, 'No', 'Travel_Rarely', 1358, 'Research & Development', 24, 1, 'Life Sciences', 1, 11, 4, 'Male', 67, 3, 1, 'Laboratory Technician', 3, 'Divorced', 2693, 13335, 1, 'Y', 'No', 22, 4, 2, 80, 1, 1, 2, 3, 1, 0, 0, 0),
 (13, 31, 'No', 'Travel_Rarely', 670, 'Research & Development', 26, 1, 'Life Sciences', 1, 16, 1, 'Male', 31, 3, 1, 'Research Scientist', 3, 'Divorced', 2911, 15170, 1, 'Y', 'No', 17, 3, 4, 80, 1, 5, 1, 2, 5, 2, 4, 3),
 (14, 34, 'No', 'Travel_Rarely', 1346, 'Research & Development', 19, 2, 'Medical', 1, 18, 2, 'Male', 93, 3, 1, 'Laboratory Technician', 4, 'Divorced', 2661, 8758, 0, 'Y', 'No', 11, 3, 3, 80, 1, 3, 2, 3, 2, 2, 1, 2),
 (16, 29, 'No', 'Travel_Rarely', 1389, 'Research & Development', 21, 4, 'Life Sciences', 1, 20, 2, 'Female', 51, 4, 3, 'Manufacturing Director', 1, 'Divorced', 9980, 10195, 1, 'Y', 'No', 11, 3, 3, 80, 1, 10, 1, 3, 10, 9, 8, 8),
 (17, 32, 'No', 'Travel_Rarely', 334, 'Research & Development', 5, 2, 'Life Sciences', 1, 21, 1, 'Male', 80, 4, 1, 'Research Scientist', 2, 'Divorced', 3298, 15053, 0, 'Y', 'Yes', 12, 3, 4, 80, 2, 7, 5, 2, 6, 2, 0, 5),
 (18, 22, 'No', 'Non-Travel', 1123, 'Research & Development', 16, 2, 'Medical', 1, 22, 4, 'Male', 96, 4, 1, 'Laboratory Technician', 4, 'Divorced', 2935, 7324, 1, 'Y', 'Yes', 13, 3, 2, 80, 2, 1, 2, 2, 1, 0, 0, 0),
 (21, 24, 'No', 'Non-Travel', 673, 'Research & Development', 11, 2, 'Other', 1, 26, 1, 'Female', 96, 4, 2, 'Manufacturing Director', 3, 'Divorced', 4011, 8232, 0, 'Y', 'No', 18, 3, 4, 80, 1, 5, 5, 2, 4, 2, 1, 3),
 (26, 53, 'No', 'Travel_Rarely', 1282, 'Research & Development', 5, 3, 'Other', 1, 32, 3, 'Female', 58, 3, 5, 'Manager', 3, 'Divorced', 19094, 10735, 4, 'Y', 'No', 11, 3, 4, 80, 1, 26, 3, 2, 14, 13, 4, 8),
 (36, 43, 'No', 'Travel_Rarely', 1273, 'Research & Development', 2, 2, 'Medical', 1, 46, 4, 'Female', 72, 4, 1, 'Research Scientist', 3, 'Divorced', 2645, 21923, 1, 'Y', 'No', 12, 3, 4, 80, 2, 6, 3, 2, 5, 3, 1, 4),
 (41, 35, 'No', 'Travel_Rarely', 464, 'Research & Development', 4, 2, 'Other', 1, 53, 3, 'Male', 75, 3, 1, 'Laboratory Technician', 4, 'Divorced', 1951, 10910, 1, 'Y', 'No', 12, 3, 3, 80, 1, 1, 3, 3, 1, 0, 0, 0),
 (42, 27, 'No', 'Travel_Rarely', 1240, 'Research & Development', 2, 4, 'Life Sciences', 1, 54, 4, 'Female', 33, 3, 1, 'Laboratory Technician', 1, 'Divorced', 2341, 19715, 1, 'Y', 'No', 13, 3, 4, 80, 1, 1, 6, 3, 1, 0, 0, 0),
 (53, 44, 'No', 'Travel_Rarely', 1488, 'Sales', 1, 5, 'Marketing', 1, 68, 2, 'Female', 75, 3, 2, 'Sales Executive', 1, 'Divorced', 5454, 4009, 5, 'Y', 'Yes', 21, 4, 3, 80, 1, 9, 2, 2, 4, 3, 1, 3),
 (59, 31, 'No', 'Travel_Rarely', 655, 'Research & Development', 7, 4, 'Life Sciences', 1, 76, 4, 'Male', 48, 3, 2, 'Laboratory Technician', 4, 'Divorced', 5915, 9528, 3, 'Y', 'No', 22, 4, 4, 80, 1, 10, 3, 2, 7, 7, 1, 7),
 (60, 37, 'No', 'Travel_Rarely', 1115, 'Research & Development', 1, 4, 'Life Sciences', 1, 77, 1, 'Male', 51, 2, 2, 'Manufacturing Director', 3, 'Divorced', 5993, 2689, 1, 'Y', 'No', 18, 3, 3, 80, 1, 7, 2, 4, 7, 5, 0, 7),
 (63, 50, 'No', 'Travel_Rarely', 989, 'Research & Development', 7, 2, 'Medical', 1, 80, 2, 'Female', 43, 2, 5, 'Research Director', 3, 'Divorced', 18740, 16701, 5, 'Y', 'Yes', 12, 3, 4, 80, 1, 29, 2, 2, 27, 3, 13, 8),
 (65, 36, 'No', 'Travel_Rarely', 1223, 'Research & Development', 8, 3, 'Technical Degree', 1, 83, 3, 'Female', 59, 3, 3, 'Healthcare Representative', 3, 'Divorced', 10096, 8202, 1, 'Y', 'No', 13, 3, 2, 80, 3, 17, 2, 3, 17, 14, 12, 8),
 (66, 55, 'No', 'Travel_Rarely', 836, 'Research & Development', 8, 3, 'Medical', 1, 84, 4, 'Female', 33, 3, 4, 'Manager', 3, 'Divorced', 14756, 19730, 2, 'Y', 'Yes', 14, 3, 3, 80, 3, 21, 2, 3, 5, 0, 0, 2),
 (68, 45, 'No', 'Travel_Rarely', 1339, 'Research & Development', 7, 3, 'Life Sciences', 1, 86, 2, 'Male', 59, 3, 3, 'Research Scientist', 1, 'Divorced', 9724, 18787, 2, 'Y', 'No', 17, 3, 3, 80, 1, 25, 2, 3, 1, 0, 0, 0),
 (80, 46, 'No', 'Travel_Rarely', 945, 'Human Resources', 5, 2, 'Medical', 1, 103, 2, 'Male', 80, 3, 2, 'Human Resources', 2, 'Divorced', 5021, 10425, 8, 'Y', 'Yes', 22, 4, 4, 80, 1, 16, 2, 3, 4, 2, 0, 2),
 (84, 38, 'No', 'Non-Travel', 573, 'Research & Development', 6, 3, 'Medical', 1, 107, 2, 'Female', 79, 1, 2, 'Research Scientist', 4, 'Divorced', 5329, 15717, 7, 'Y', 'Yes', 12, 3, 4, 80, 3, 17, 3, 3, 13, 11, 1, 9),
 (87, 23, 'No', 'Travel_Rarely', 541, 'Sales', 2, 1, 'Technical Degree', 1, 113, 3, 'Male', 62, 3, 1, 'Sales Representative', 1, 'Divorced', 2322, 9518, 3, 'Y', 'No', 13, 3, 3, 80, 1, 3, 3, 3, 0, 0, 0, 0),
 (93, 30, 'No', 'Travel_Rarely', 1334, 'Sales', 4, 2, 'Medical', 1, 121, 3, 'Female', 63, 2, 2, 'Sales Executive', 2, 'Divorced', 5209, 19760, 1, 'Y', 'Yes', 12, 3, 2, 80, 3, 11, 4, 2, 11, 8, 2, 7),
 (101, 37, 'Yes', 'Travel_Rarely', 807, 'Human Resources', 6, 4, 'Human Resources', 1, 133, 3, 'Male', 63, 3, 1, 'Human Resources', 1, 'Divorced', 2073, 23648, 4, 'Y', 'Yes', 22, 4, 4, 80, 0, 7, 3, 3, 3, 2, 0, 2),
 (105, 37, 'No', 'Non-Travel', 1040, 'Research & Development', 2, 2, 'Life Sciences', 1, 139, 3, 'Male', 100, 2, 2, 'Healthcare Representative', 4, 'Divorced', 5163, 15850, 5, 'Y', 'No', 14, 3, 4, 80, 1, 17, 2, 4, 1, 0, 0, 0),
 (115, 34, 'No', 'Travel_Rarely', 1031, 'Research & Development', 6, 4, 'Life Sciences', 1, 151, 3, 'Female', 45, 2, 2, 'Research Scientist', 2, 'Divorced', 4505, 15000, 6, 'Y', 'No', 15, 3, 3, 80, 1, 12, 3, 3, 1, 0, 0, 0),
 (119, 36, 'No', 'Travel_Rarely', 922, 'Research & Development', 3, 2, 'Life Sciences', 1, 155, 1, 'Female', 39, 3, 1, 'Laboratory Technician', 4, 'Divorced', 2835, 2561, 5, 'Y', 'No', 22, 4, 1, 80, 1, 7, 2, 3, 1, 0, 0, 0),
 (121, 30, 'No', 'Travel_Frequently', 1312, 'Research & Development', 23, 3, 'Life Sciences', 1, 159, 1, 'Male', 96, 1, 1, 'Research Scientist', 3, 'Divorced', 2613, 22310, 1, 'Y', 'No', 25, 4, 3, 80, 3, 10, 2, 2, 10, 7, 0, 9),
 (134, 41, 'No', 'Travel_Rarely', 802, 'Sales', 9, 1, 'Life Sciences', 1, 176, 3, 'Male', 96, 3, 3, 'Sales Executive', 3, 'Divorced', 8189, 21196, 3, 'Y', 'Yes', 13, 3, 3, 80, 1, 12, 2, 3, 9, 7, 0, 7),
 (136, 36, 'No', 'Travel_Rarely', 216, 'Research & Development', 6, 2, 'Medical', 1, 178, 2, 'Male', 84, 3, 2, 'Manufacturing Director', 2, 'Divorced', 4941, 2819, 6, 'Y', 'No', 20, 4, 4, 80, 2, 7, 0, 3, 3, 2, 0, 1),
 (145, 32, 'No', 'Travel_Frequently', 689, 'Sales', 9, 2, 'Medical', 1, 195, 4, 'Male', 35, 1, 2, 'Sales Executive', 4, 'Divorced', 4668, 22812, 0, 'Y', 'No', 17, 3, 4, 80, 3, 9, 2, 4, 8, 7, 0, 7),
 (146, 30, 'No', 'Travel_Rarely', 201, 'Research & Development', 5, 3, 'Technical Degree', 1, 197, 4, 'Female', 84, 3, 1, 'Research Scientist', 1, 'Divorced', 3204, 10415, 5, 'Y', 'No', 14, 3, 4, 80, 1, 8, 3, 3, 3, 2, 2, 2),
 (148, 41, 'No', 'Travel_Frequently', 857, 'Research & Development', 10, 3, 'Life Sciences', 1, 199, 4, 'Male', 91, 2, 4, 'Manager', 1, 'Divorced', 17181, 12888, 4, 'Y', 'No', 13, 3, 2, 80, 1, 21, 2, 2, 7, 6, 7, 7),
 (151, 40, 'No', 'Travel_Frequently', 1395, 'Research & Development', 26, 3, 'Medical', 1, 202, 2, 'Female', 54, 3, 2, 'Research Scientist', 2, 'Divorced', 5605, 8504, 1, 'Y', 'No', 11, 3, 1, 80, 1, 20, 2, 3, 20, 7, 2, 13),
 (154, 45, 'No', 'Travel_Rarely', 194, 'Research & Development', 9, 3, 'Life Sciences', 1, 206, 2, 'Male', 60, 3, 2, 'Laboratory Technician', 2, 'Divorced', 2348, 10901, 8, 'Y', 'No', 18, 3, 3, 80, 1, 20, 2, 1, 17, 9, 0, 15),
 (162, 27, 'No', 'Non-Travel', 691, 'Research & Development', 9, 3, 'Medical', 1, 218, 4, 'Male', 57, 3, 1, 'Research Scientist', 2, 'Divorced', 2024, 5970, 6, 'Y', 'No', 18, 3, 4, 80, 1, 6, 1, 1, 2, 2, 2, 2),
 (164, 57, 'No', 'Travel_Rarely', 334, 'Research & Development', 24, 2, 'Life Sciences', 1, 223, 3, 'Male', 83, 4, 3, 'Healthcare Representative', 4, 'Divorced', 9439, 23402, 3, 'Y', 'Yes', 16, 3, 2, 80, 1, 12, 2, 1, 5, 3, 1, 4),
 (165, 27, 'No', 'Non-Travel', 1450, 'Research & Development', 3, 3, 'Medical', 1, 224, 3, 'Male', 79, 2, 1, 'Research Scientist', 3, 'Divorced', 2566, 25326, 1, 'Y', 'Yes', 15, 3, 4, 80, 1, 1, 2, 2, 1, 1, 0, 1),
 (167, 41, 'No', 'Travel_Rarely', 465, 'Research & Development', 14, 3, 'Life Sciences', 1, 227, 1, 'Male', 56, 3, 1, 'Research Scientist', 3, 'Divorced', 2451, 4609, 4, 'Y', 'No', 12, 3, 1, 80, 1, 13, 2, 3, 9, 8, 1, 8),
 (174, 30, 'No', 'Non-Travel', 111, 'Research & Development', 9, 3, 'Medical', 1, 239, 3, 'Male', 66, 3, 2, 'Laboratory Technician', 1, 'Divorced', 3072, 11012, 1, 'Y', 'No', 11, 3, 3, 80, 2, 12, 4, 3, 12, 9, 6, 10),
 (175, 45, 'No', 'Travel_Rarely', 1268, 'Sales', 4, 2, 'Life Sciences', 1, 240, 3, 'Female', 30, 3, 2, 'Sales Executive', 1, 'Divorced', 5006, 6319, 4, 'Y', 'Yes', 11, 3, 1, 80, 1, 9, 3, 4, 5, 4, 0, 3),
 (176, 56, 'No', 'Travel_Rarely', 713, 'Research & Development', 8, 3, 'Life Sciences', 1, 241, 3, 'Female', 67, 3, 1, 'Research Scientist', 1, 'Divorced', 4257, 13939, 4, 'Y', 'Yes', 18, 3, 3, 80, 1, 19, 3, 3, 2, 2, 2, 2),
 (179, 46, 'No', 'Travel_Rarely', 526, 'Sales', 1, 2, 'Marketing', 1, 244, 2, 'Female', 92, 3, 3, 'Sales Executive', 1, 'Divorced', 10453, 2137, 1, 'Y', 'No', 25, 4, 3, 80, 3, 24, 2, 3, 24, 13, 15, 7),
 (185, 53, 'No', 'Travel_Rarely', 1084, 'Research & Development', 13, 2, 'Medical', 1, 250, 4, 'Female', 57, 4, 2, 'Manufacturing Director', 1, 'Divorced', 4450, 26250, 1, 'Y', 'No', 11, 3, 3, 80, 2, 5, 3, 3, 4, 2, 1, 3),
 (194, 43, 'No', 'Non-Travel', 1344, 'Research & Development', 7, 3, 'Medical', 1, 262, 4, 'Male', 37, 4, 1, 'Research Scientist', 4, 'Divorced', 2089, 5228, 4, 'Y', 'No', 14, 3, 4, 80, 3, 7, 3, 4, 5, 4, 2, 2),
 (198, 42, 'No', 'Non-Travel', 926, 'Research & Development', 21, 2, 'Medical', 1, 270, 3, 'Female', 36, 3, 2, 'Manufacturing Director', 3, 'Divorced', 5265, 16439, 2, 'Y', 'No', 16, 3, 2, 80, 1, 11, 5, 3, 5, 3, 0, 2),
 (202, 49, 'No', 'Non-Travel', 1002, 'Research & Development', 18, 4, 'Life Sciences', 1, 275, 4, 'Male', 92, 3, 2, 'Manufacturing Director', 4, 'Divorced', 6804, 23793, 1, 'Y', 'Yes', 15, 3, 1, 80, 2, 7, 0, 3, 7, 7, 1, 7),
 (203, 34, 'No', 'Travel_Frequently', 878, 'Research & Development', 10, 4, 'Medical', 1, 277, 4, 'Male', 43, 3, 1, 'Research Scientist', 3, 'Divorced', 3815, 5972, 1, 'Y', 'Yes', 17, 3, 4, 80, 1, 5, 4, 4, 5, 3, 2, 0),
 (207, 22, 'No', 'Travel_Rarely', 1136, 'Research & Development', 5, 3, 'Life Sciences', 1, 284, 4, 'Male', 60, 4, 1, 'Research Scientist', 2, 'Divorced', 2328, 12392, 1, 'Y', 'Yes', 16, 3, 1, 80, 1, 4, 2, 2, 4, 2, 2, 2),
 (210, 46, 'No', 'Travel_Rarely', 644, 'Research & Development', 1, 4, 'Medical', 1, 288, 4, 'Male', 97, 3, 3, 'Healthcare Representative', 1, 'Divorced', 9396, 12368, 7, 'Y', 'No', 16, 3, 3, 80, 1, 17, 3, 3, 4, 2, 0, 3),
 (223, 37, 'No', 'Travel_Frequently', 663, 'Research & Development', 11, 3, 'Other', 1, 306, 2, 'Male', 47, 3, 3, 'Research Director', 4, 'Divorced', 12185, 10056, 1, 'Y', 'Yes', 14, 3, 3, 80, 3, 10, 1, 3, 10, 8, 0, 7),
 (224, 38, 'No', 'Travel_Rarely', 119, 'Sales', 3, 3, 'Life Sciences', 1, 307, 1, 'Male', 76, 3, 3, 'Sales Executive', 3, 'Divorced', 10609, 9647, 0, 'Y', 'No', 12, 3, 3, 80, 2, 17, 6, 2, 16, 10, 5, 13),
 (227, 37, 'No', 'Travel_Frequently', 319, 'Sales', 4, 4, 'Marketing', 1, 311, 1, 'Male', 41, 3, 1, 'Sales Representative', 4, 'Divorced', 2793, 2539, 4, 'Y', 'No', 17, 3, 3, 80, 1, 13, 2, 3, 9, 8, 5, 8),
 (234, 50, 'No', 'Travel_Rarely', 854, 'Sales', 1, 4, 'Medical', 1, 323, 4, 'Female', 68, 3, 5, 'Manager', 4, 'Divorced', 19517, 24118, 3, 'Y', 'No', 11, 3, 3, 80, 1, 32, 3, 2, 7, 0, 0, 6),
 (241, 39, 'No', 'Travel_Rarely', 1431, 'Research & Development', 1, 4, 'Medical', 1, 332, 3, 'Female', 96, 3, 1, 'Laboratory Technician', 3, 'Divorced', 2232, 15417, 7, 'Y', 'No', 14, 3, 3, 80, 3, 7, 1, 3, 3, 2, 1, 2),
 (243, 41, 'No', 'Travel_Rarely', 1411, 'Research & Development', 19, 2, 'Life Sciences', 1, 334, 3, 'Male', 36, 3, 2, 'Research Scientist', 1, 'Divorced', 3072, 19877, 2, 'Y', 'No', 16, 3, 1, 80, 2, 17, 2, 2, 1, 0, 0, 0),
 (244, 40, 'No', 'Travel_Rarely', 1300, 'Research & Development', 24, 2, 'Technical Degree', 1, 335, 1, 'Male', 62, 3, 2, 'Research Scientist', 4, 'Divorced', 3319, 24447, 1, 'Y', 'No', 17, 3, 1, 80, 2, 9, 3, 3, 9, 8, 4, 7),
 (246, 31, 'No', 'Travel_Frequently', 1327, 'Research & Development', 3, 4, 'Medical', 1, 337, 2, 'Male', 73, 3, 3, 'Research Director', 3, 'Divorced', 13675, 13523, 9, 'Y', 'No', 12, 3, 1, 80, 1, 9, 3, 3, 2, 2, 2, 2),
 (251, 37, 'Yes', 'Travel_Frequently', 504, 'Research & Development', 10, 3, 'Medical', 1, 342, 1, 'Male', 61, 3, 3, 'Manufacturing Director', 3, 'Divorced', 10048, 22573, 6, 'Y', 'No', 11, 3, 2, 80, 2, 17, 5, 3, 1, 0, 0, 0),
 (255, 29, 'No', 'Travel_Rarely', 1247, 'Sales', 20, 2, 'Marketing', 1, 349, 4, 'Male', 45, 3, 2, 'Sales Executive', 4, 'Divorced', 6931, 10732, 2, 'Y', 'No', 14, 3, 4, 80, 1, 10, 2, 3, 3, 2, 0, 2),
 (257, 42, 'No', 'Travel_Rarely', 269, 'Research & Development', 2, 3, 'Medical', 1, 351, 4, 'Female', 56, 2, 1, 'Laboratory Technician', 1, 'Divorced', 2593, 8007, 0, 'Y', 'Yes', 11, 3, 3, 80, 1, 10, 4, 3, 9, 6, 7, 8),
 (258, 40, 'No', 'Travel_Rarely', 1416, 'Research & Development', 2, 2, 'Medical', 1, 352, 1, 'Male', 49, 3, 5, 'Research Director', 3, 'Divorced', 19436, 5949, 0, 'Y', 'No', 19, 3, 4, 80, 1, 22, 5, 3, 21, 7, 3, 9),
 (268, 25, 'No', 'Non-Travel', 675, 'Research & Development', 5, 2, 'Life Sciences', 1, 369, 2, 'Male', 85, 4, 2, 'Healthcare Representative', 1, 'Divorced', 4000, 18384, 1, 'Y', 'No', 12, 3, 4, 80, 2, 6, 2, 3, 6, 3, 1, 5),
 (276, 37, 'No', 'Non-Travel', 728, 'Research & Development', 1, 4, 'Medical', 1, 380, 1, 'Female', 80, 3, 3, 'Research Director', 4, 'Divorced', 13603, 11677, 2, 'Y', 'Yes', 18, 3, 1, 80, 2, 15, 2, 3, 5, 2, 0, 2),
 (277, 35, 'No', 'Travel_Rarely', 1315, 'Research & Development', 22, 3, 'Life Sciences', 1, 381, 2, 'Female', 71, 4, 3, 'Manager', 2, 'Divorced', 11996, 19100, 7, 'Y', 'No', 18, 3, 2, 80, 1, 10, 6, 2, 7, 7, 6, 2),
 (278, 38, 'No', 'Travel_Rarely', 322, 'Sales', 7, 2, 'Medical', 1, 382, 1, 'Female', 44, 4, 2, 'Sales Executive', 1, 'Divorced', 5605, 19191, 1, 'Y', 'Yes', 24, 4, 3, 80, 1, 8, 3, 3, 8, 0, 7, 7),
 (279, 26, 'No', 'Travel_Frequently', 1479, 'Research & Development', 1, 3, 'Life Sciences', 1, 384, 3, 'Female', 84, 3, 2, 'Manufacturing Director', 2, 'Divorced', 6397, 26767, 1, 'Y', 'No', 20, 4, 1, 80, 1, 6, 6, 1, 6, 5, 1, 4),
 (280, 50, 'No', 'Travel_Rarely', 797, 'Research & Development', 4, 1, 'Life Sciences', 1, 385, 1, 'Male', 96, 3, 5, 'Research Director', 2, 'Divorced', 19144, 15815, 3, 'Y', 'No', 14, 3, 1, 80, 2, 28, 4, 2, 10, 4, 1, 6),
 (287, 44, 'Yes', 'Travel_Frequently', 920, 'Research & Development', 24, 3, 'Life Sciences', 1, 392, 4, 'Male', 43, 3, 1, 'Laboratory Technician', 3, 'Divorced', 3161, 19920, 3, 'Y', 'Yes', 22, 4, 4, 80, 1, 19, 0, 1, 1, 0, 0, 0),
 (288, 38, 'No', 'Travel_Rarely', 688, 'Research & Development', 23, 4, 'Life Sciences', 1, 393, 4, 'Male', 82, 3, 2, 'Healthcare Representative', 4, 'Divorced', 5745, 18899, 9, 'Y', 'No', 14, 3, 2, 80, 1, 10, 2, 3, 2, 2, 1, 2),
 (289, 26, 'Yes', 'Travel_Rarely', 1449, 'Research & Development', 16, 4, 'Medical', 1, 394, 1, 'Male', 45, 3, 1, 'Laboratory Technician', 2, 'Divorced', 2373, 14180, 2, 'Y', 'Yes', 13, 3, 4, 80, 1, 5, 2, 3, 3, 2, 0, 2),
 (293, 31, 'No', 'Travel_Frequently', 444, 'Sales', 5, 3, 'Marketing', 1, 399, 4, 'Female', 84, 3, 1, 'Sales Representative', 2, 'Divorced', 2789, 3909, 1, 'Y', 'No', 11, 3, 3, 80, 1, 2, 5, 2, 2, 2, 2, 2),
 (300, 51, 'No', 'Travel_Rarely', 1302, 'Research & Development', 2, 3, 'Medical', 1, 408, 4, 'Male', 84, 1, 2, 'Manufacturing Director', 2, 'Divorced', 5482, 16321, 5, 'Y', 'No', 18, 3, 4, 80, 1, 13, 3, 3, 4, 1, 1, 2),
 (305, 39, 'No', 'Travel_Rarely', 1132, 'Research & Development', 1, 3, 'Medical', 1, 417, 3, 'Male', 48, 4, 3, 'Healthcare Representative', 4, 'Divorced', 9613, 10942, 0, 'Y', 'No', 17, 3, 1, 80, 3, 19, 5, 2, 18, 10, 3, 7),
 (309, 58, 'No', 'Non-Travel', 390, 'Research & Development', 1, 4, 'Life Sciences', 1, 422, 4, 'Male', 32, 1, 2, 'Healthcare Representative', 3, 'Divorced', 5660, 17056, 2, 'Y', 'Yes', 13, 3, 4, 80, 1, 12, 2, 3, 5, 3, 1, 2),
 (312, 45, 'No', 'Travel_Frequently', 1249, 'Research & Development', 7, 3, 'Life Sciences', 1, 425, 1, 'Male', 97, 3, 3, 'Laboratory Technician', 1, 'Divorced', 5210, 20308, 1, 'Y', 'No', 18, 3, 1, 80, 1, 24, 2, 3, 24, 9, 9, 11),
 (313, 31, 'No', 'Travel_Rarely', 192, 'Research & Development', 2, 4, 'Life Sciences', 1, 426, 3, 'Male', 32, 3, 1, 'Research Scientist', 4, 'Divorced', 2695, 7747, 0, 'Y', 'Yes', 18, 3, 2, 80, 1, 3, 2, 1, 2, 2, 2, 2),
 (322, 31, 'No', 'Travel_Rarely', 691, 'Sales', 7, 3, 'Marketing', 1, 438, 4, 'Male', 73, 3, 2, 'Sales Executive', 4, 'Divorced', 7547, 7143, 4, 'Y', 'No', 12, 3, 4, 80, 3, 13, 3, 3, 7, 7, 1, 7),
 (331, 43, 'No', 'Travel_Frequently', 559, 'Research & Development', 10, 4, 'Life Sciences', 1, 448, 3, 'Female', 82, 2, 2, 'Laboratory Technician', 3, 'Divorced', 5257, 6227, 1, 'Y', 'No', 11, 3, 2, 80, 1, 9, 3, 4, 9, 7, 0, 0),
 (339, 30, 'No', 'Travel_Rarely', 570, 'Sales', 5, 3, 'Marketing', 1, 456, 4, 'Female', 30, 2, 2, 'Sales Executive', 3, 'Divorced', 6118, 5431, 1, 'Y', 'No', 13, 3, 3, 80, 3, 10, 2, 3, 10, 9, 1, 2),
 (341, 37, 'No', 'Travel_Rarely', 1192, 'Research & Development', 5, 2, 'Medical', 1, 460, 4, 'Male', 61, 3, 2, 'Manufacturing Director', 4, 'Divorced', 6347, 23177, 7, 'Y', 'No', 16, 3, 3, 80, 2, 8, 2, 2, 6, 2, 0, 4),
 (342, 38, 'No', 'Travel_Rarely', 343, 'Research & Development', 15, 2, 'Life Sciences', 1, 461, 3, 'Male', 92, 2, 3, 'Research Director', 4, 'Divorced', 11510, 15682, 0, 'Y', 'Yes', 14, 3, 2, 80, 1, 12, 3, 3, 11, 10, 2, 9),
 (344, 29, 'No', 'Travel_Rarely', 144, 'Sales', 10, 1, 'Marketing', 1, 463, 4, 'Female', 39, 2, 2, 'Sales Executive', 2, 'Divorced', 8268, 11866, 1, 'Y', 'Yes', 14, 3, 1, 80, 2, 7, 2, 3, 7, 7, 1, 7),
 (346, 23, 'No', 'Travel_Rarely', 1309, 'Research & Development', 26, 1, 'Life Sciences', 1, 465, 3, 'Male', 83, 3, 1, 'Research Scientist', 4, 'Divorced', 2904, 16092, 1, 'Y', 'No', 12, 3, 3, 80, 2, 4, 2, 2, 4, 2, 0, 2),
 (351, 42, 'No', 'Travel_Rarely', 544, 'Human Resources', 2, 1, 'Technical Degree', 1, 470, 3, 'Male', 52, 3, 1, 'Human Resources', 3, 'Divorced', 2696, 24017, 0, 'Y', 'Yes', 11, 3, 3, 80, 1, 4, 5, 3, 3, 2, 1, 0),
 (354, 37, 'No', 'Travel_Rarely', 1319, 'Research & Development', 6, 3, 'Medical', 1, 474, 3, 'Male', 51, 4, 2, 'Research Scientist', 1, 'Divorced', 5974, 17001, 4, 'Y', 'Yes', 13, 3, 1, 80, 2, 13, 2, 3, 7, 7, 6, 7),
 (374, 27, 'No', 'Travel_Rarely', 1469, 'Research & Development', 1, 2, 'Medical', 1, 497, 4, 'Male', 82, 3, 1, 'Laboratory Technician', 2, 'Divorced', 3816, 17881, 1, 'Y', 'No', 11, 3, 2, 80, 1, 5, 2, 3, 5, 2, 0, 4),
 (381, 24, 'No', 'Travel_Rarely', 1371, 'Sales', 10, 4, 'Marketing', 1, 507, 4, 'Female', 77, 3, 2, 'Sales Executive', 3, 'Divorced', 4260, 5915, 1, 'Y', 'Yes', 12, 3, 4, 80, 1, 5, 2, 4, 5, 2, 0, 3),
 (387, 37, 'No', 'Travel_Rarely', 1107, 'Research & Development', 14, 3, 'Life Sciences', 1, 515, 4, 'Female', 95, 3, 1, 'Laboratory Technician', 1, 'Divorced', 3034, 26914, 1, 'Y', 'No', 12, 3, 3, 80, 1, 18, 2, 2, 18, 7, 12, 17),
 (388, 40, 'No', 'Travel_Rarely', 759, 'Sales', 2, 2, 'Marketing', 1, 516, 4, 'Female', 46, 3, 2, 'Sales Executive', 2, 'Divorced', 5715, 22553, 7, 'Y', 'No', 12, 3, 3, 80, 2, 8, 5, 3, 5, 4, 1, 3),
 (389, 42, 'No', 'Travel_Rarely', 201, 'Research & Development', 1, 4, 'Life Sciences', 1, 517, 2, 'Female', 95, 3, 1, 'Laboratory Technician', 1, 'Divorced', 2576, 20490, 3, 'Y', 'No', 16, 3, 2, 80, 1, 8, 5, 3, 5, 2, 1, 2),
 (391, 43, 'No', 'Travel_Rarely', 982, 'Research & Development', 12, 3, 'Life Sciences', 1, 520, 1, 'Male', 59, 2, 4, 'Research Director', 2, 'Divorced', 14336, 4345, 1, 'Y', 'No', 11, 3, 3, 80, 1, 25, 3, 3, 25, 10, 3, 9),
 (397, 43, 'No', 'Travel_Rarely', 1473, 'Research & Development', 8, 4, 'Other', 1, 526, 3, 'Female', 74, 3, 2, 'Healthcare Representative', 3, 'Divorced', 4522, 2227, 4, 'Y', 'Yes', 14, 3, 4, 80, 0, 8, 3, 3, 5, 2, 0, 2),

In [43]:
%%sql

SELECT SUM(MonthlyIncome) AS total_monthly_income
    FROM attrition_records
WHERE LOWER(MaritalStatus) LIKE "%divorce%";

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(4438232,)]

In [44]:
%%sql

SELECT SUM(MonthlyIncome) total_monthly_income
    FROM attrition_records
WHERE LOWER(MaritalStatus) = "divorced";

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(4438232,)]

### GROUP BY

#### SYNTAX:

```sql
SELECT * FROM table_name
GROUP BY col_1;
```

In [45]:
# Select the unique departments

A, B, C, A, A, B, C

{
    A: 3,
    B: 2,
    C: 2
}

In [46]:
%%sql

SELECT Department 
    FROM attrition_records
GROUP BY Department;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[('Human Resources',), ('Research & Development',), ('Sales',)]

In [47]:
%%sql

SELECT DISTINCT(Department) 
FROM attrition_records;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[('Sales',), ('Research & Development',), ('Human Resources',)]

In [48]:
# Select employees earning more than the average monthly_income

In [49]:
%%sql

SELECT Age, MonthlyIncome, Department
    FROM attrition_records
LIMIT 5;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(41, 5993, 'Sales'),
 (49, 5130, 'Research & Development'),
 (37, 2090, 'Research & Development'),
 (33, 2909, 'Research & Development'),
 (27, 3468, 'Research & Development')]

Step 1

* Calculate the avg montly_income

In [50]:
%%sql

SELECT ROUND(AVG(MonthlyIncome), 2) avg_monthly_income
    FROM attrition_records;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(6502.93,)]

Step 2

* Determine the employees using the result from step 1. (note: use a sub-query)

In [51]:
%%sql

SELECT id, Age, Department, MonthlyIncome
    FROM attrition_records
    WHERE MonthlyIncome > (SELECT ROUND(AVG(MonthlyIncome), 2) avg_monthly_income
                        FROM attrition_records)
LIMIT 10;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(9, 38, 'Research & Development', 9526),
 (16, 29, 'Research & Development', 9980),
 (19, 53, 'Sales', 15427),
 (23, 34, 'Research & Development', 11994),
 (26, 53, 'Research & Development', 19094),
 (28, 42, 'Sales', 6825),
 (29, 44, 'Research & Development', 10248),
 (30, 46, 'Sales', 18947),
 (44, 27, 'Sales', 8726),
 (46, 41, 'Research & Development', 19545)]

In [52]:
%%sql

SELECT COUNT(id) num_employees
    FROM attrition_records
    WHERE MonthlyIncome > (SELECT ROUND(AVG(MonthlyIncome), 2) avg_monthly_income
                        FROM attrition_records)
;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(986,)]

### HAVING

#### SYNTAX:

```sql
SELECT * FROM table_name
GROUP BY col_name
HAVING condition;
```

#### NOTE:

* `HAVING` clause **must** appear after the `GROUP BY` clause.

In [53]:
# Select all the age groups that have StockOptionLevel of more than 1

In [54]:
%%sql

SELECT id, Age, Gender, Department, JobRole, StockOptionLevel
    FROM attrition_records
    GROUP BY Age
    HAVING StockOptionLevel > 1
;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(18, 22, 'Male', 'Research & Development', 'Laboratory Technician', 2),
 (10, 36, 'Male', 'Research & Development', 'Healthcare Representative', 2),
 (36, 43, 'Female', 'Research & Development', 'Research Scientist', 2),
 (88, 51, 'Male', 'Research & Development', 'Laboratory Technician', 2),
 (66, 55, 'Female', 'Research & Development', 'Manager', 3),
 (7, 59, 'Female', 'Research & Development', 'Laboratory Technician', 3)]

### Sub-Queries

* AKA **Inner-queries**, **Nested queries**

### Types of Sub-Queries

1. **Scalar**: It returns a single value.
2. **Multi-row**: It returns multiple rows (and/or columns).
3. **Correlated**: The inner-query depends on the outer-query.

### Scalar Sub-Query

* Who is/are the oldest employee(s)?

In [55]:
%%sql

SELECT ROUND(MAX(Age), 2) AS max_age
    FROM attrition_records

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(60.0,)]

In [56]:
%%sql

SELECT * 
    FROM attrition_records
WHERE Age = (SELECT ROUND(MAX(Age), 2) AS max_age
                FROM attrition_records);

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(412, 60, 'No', 'Travel_Rarely', 422, 'Research & Development', 7, 3, 'Life Sciences', 1, 549, 1, 'Female', 41, 3, 5, 'Manager', 1, 'Married', 19566, 3854, 5, 'Y', 'No', 11, 3, 4, 80, 0, 33, 5, 1, 29, 8, 11, 10),
 (428, 60, 'No', 'Travel_Frequently', 1499, 'Sales', 28, 3, 'Marketing', 1, 573, 3, 'Female', 80, 2, 3, 'Sales Executive', 1, 'Married', 10266, 2845, 4, 'Y', 'No', 19, 3, 4, 80, 0, 22, 5, 4, 18, 13, 13, 11),
 (537, 60, 'No', 'Travel_Rarely', 1179, 'Sales', 16, 4, 'Marketing', 1, 732, 1, 'Male', 84, 3, 2, 'Sales Executive', 1, 'Single', 5405, 11924, 8, 'Y', 'No', 14, 3, 4, 80, 0, 10, 1, 3, 2, 2, 2, 2),
 (880, 60, 'No', 'Travel_Rarely', 696, 'Sales', 7, 4, 'Marketing', 1, 1233, 2, 'Male', 52, 4, 2, 'Sales Executive', 4, 'Divorced', 5220, 10893, 0, 'Y', 'Yes', 18, 3, 2, 80, 1, 12, 3, 3, 11, 7, 1, 9),
 (1210, 60, 'No', 'Travel_Rarely', 370, 'Research & Development', 1, 4, 'Medical', 1, 1697, 3, 'Male', 92, 1, 3, 'Healthcare Representative', 4, 'Divorced', 10883, 20467, 3, 'Y', 'No', 20, 4, 3, 80, 1, 19, 2, 4, 1, 0, 0, 0),
 (1882, 60, 'No', 'Travel_Rarely', 422, 'Research & Development', 7, 3, 'Life Sciences', 1, 549, 1, 'Female', 41, 3, 5, 'Manager', 1, 'Married', 19566, 3854, 5, 'Y', 'No', 11, 3, 4, 80, 0, 33, 5, 1, 29, 8, 11, 10),
 (1898, 60, 'No', 'Travel_Frequently', 1499, 'Sales', 28, 3, 'Marketing', 1, 573, 3, 'Female', 80, 2, 3, 'Sales Executive', 1, 'Married', 10266, 2845, 4, 'Y', 'No', 19, 3, 4, 80, 0, 22, 5, 4, 18, 13, 13, 11),
 (2007, 60, 'No', 'Travel_Rarely', 1179, 'Sales', 16, 4, 'Marketing', 1, 732, 1, 'Male', 84, 3, 2, 'Sales Executive', 1, 'Single', 5405, 11924, 8, 'Y', 'No', 14, 3, 4, 80, 0, 10, 1, 3, 2, 2, 2, 2),
 (2350, 60, 'No', 'Travel_Rarely', 696, 'Sales', 7, 4, 'Marketing', 1, 1233, 2, 'Male', 52, 4, 2, 'Sales Executive', 4, 'Divorced', 5220, 10893, 0, 'Y', 'Yes', 18, 3, 2, 80, 1, 12, 3, 3, 11, 7, 1, 9),
 (2680, 60, 'No', 'Travel_Rarely', 370, 'Research & Development', 1, 4, 'Medical', 1, 1697, 3, 'Male', 92, 1, 3, 'Healthcare Representative', 4, 'Divorced', 10883, 20467, 3, 'Y', 'No', 20, 4, 3, 80, 1, 19, 2, 4, 1, 0, 0, 0)]

<br>

### Multi-row Sub-query

In [57]:
# Select all the employees earning more than the average monthly_income in their department

Data science: 20K
Frontend: 25K
UI/UX: 30K

### Steps:

1. Calculate the average monthly_income for each department.
2. For each department, select all the employees earning more than average monthly_income.

In [58]:
%%sql

SELECT Department, ROUND(AVG(MonthlyIncome)) avg_monthly_income
    FROM attrition_records
GROUP BY Department;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[('Human Resources', 6655.0),
 ('Research & Development', 6281.0),
 ('Sales', 6959.0)]

In [59]:
%%sql

SELECT ROUND(AVG(MonthlyIncome)) avg_monthly_income
                        FROM attrition_records
                        GROUP BY Department

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(6655.0,), (6281.0,), (6959.0,)]

### Another Method For Solving The Question

### * Using correlated Queries.

table_a and table_b

# Select all the employees earning more than the average monthly_income in their department

In [62]:
%%sql

SELECT id, Age, JobRole, Department, MonthlyIncome 
    FROM attrition_records AS a
WHERE MonthlyIncome > (SELECT ROUND(AVG(MonthlyIncome)) avg_monthly_income
                        FROM attrition_records b
                        WHERE b.Department = a.Department)
ORDER BY a.Department;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(106, 59, 'Manager', 'Human Resources', 18844),
 (113, 54, 'Manager', 'Human Resources', 17328),
 (441, 34, 'Human Resources', 'Human Resources', 9950),
 (478, 50, 'Manager', 'Human Resources', 18200),
 (511, 54, 'Human Resources', 'Human Resources', 10725),
 (536, 41, 'Manager', 'Human Resources', 19141),
 (539, 41, 'Manager', 'Human Resources', 19189),
 (790, 44, 'Human Resources', 'Human Resources', 10482),
 (957, 56, 'Manager', 'Human Resources', 19717),
 (963, 51, 'Manager', 'Human Resources', 14026),
 (1000, 42, 'Manager', 'Human Resources', 16799),
 (1006, 29, 'Human Resources', 'Human Resources', 7988),
 (1097, 40, 'Manager', 'Human Resources', 16437),
 (1155, 47, 'Manager', 'Human Resources', 19658),
 (1244, 45, 'Human Resources', 'Human Resources', 9756),
 (1402, 55, 'Manager', 'Human Resources', 19636),
 (1451, 35, 'Human Resources', 'Human Resources', 8837),
 (1576, 59, 'Manager', 'Human Resources', 18844),
 (1583, 54, 'Manager', 'Human Resources', 17328),
 (1911, 34, 'Human Resources', 'Human Resources', 9950),
 (1948, 50, 'Manager', 'Human Resources', 18200),
 (1981, 54, 'Human Resources', 'Human Resources', 10725),
 (2006, 41, 'Manager', 'Human Resources', 19141),
 (2009, 41, 'Manager', 'Human Resources', 19189),
 (2260, 44, 'Human Resources', 'Human Resources', 10482),
 (2427, 56, 'Manager', 'Human Resources', 19717),
 (2433, 51, 'Manager', 'Human Resources', 14026),
 (2470, 42, 'Manager', 'Human Resources', 16799),
 (2476, 29, 'Human Resources', 'Human Resources', 7988),
 (2567, 40, 'Manager', 'Human Resources', 16437),
 (2625, 47, 'Manager', 'Human Resources', 19658),
 (2714, 45, 'Human Resources', 'Human Resources', 9756),
 (2872, 55, 'Manager', 'Human Resources', 19636),
 (2921, 35, 'Human Resources', 'Human Resources', 8837),
 (9, 38, 'Manufacturing Director', 'Research & Development', 9526),
 (16, 29, 'Manufacturing Director', 'Research & Development', 9980),
 (23, 34, 'Research Director', 'Research & Development', 11994),
 (26, 53, 'Manager', 'Research & Development', 19094),
 (29, 44, 'Healthcare Representative', 'Research & Development', 10248),
 (32, 44, 'Healthcare Representative', 'Research & Development', 6465),
 (46, 41, 'Research Director', 'Research & Development', 19545),
 (54, 35, 'Healthcare Representative', 'Research & Development', 9884),
 (56, 33, 'Research Director', 'Research & Development', 13458),
 (63, 50, 'Research Director', 'Research & Development', 18740),
 (65, 36, 'Healthcare Representative', 'Research & Development', 10096),
 (66, 55, 'Manager', 'Research & Development', 14756),
 (67, 36, 'Manufacturing Director', 'Research & Development', 6499),
 (68, 45, 'Research Scientist', 'Research & Development', 9724),
 (78, 45, 'Research Director', 'Research & Development', 13245),
 (79, 37, 'Research Director', 'Research & Development', 13664),
 (86, 56, 'Manufacturing Director', 'Research & Development', 7260),
 (91, 40, 'Healthcare Representative', 'Research & Development', 13503),
 (94, 46, 'Healthcare Representative', 'Research & Development', 10673),
 (96, 54, 'Research Director', 'Research & Development', 13549),
 (107, 50, 'Research Director', 'Research & Development', 18172),
 (111, 51, 'Healthcare Representative', 'Research & Development', 7484),
 (117, 34, 'Manager', 'Research & Development', 11631),
 (124, 51, 'Research Director', 'Research & Development', 19537),
 (127, 58, 'Healthcare Representative', 'Research & Development', 10312),
 (130, 49, 'Manufacturing Director', 'Research & Development', 6567),
 (137, 51, 'Manufacturing Director', 'Research & Development', 10650),
 (148, 41, 'Manager', 'Research & Development', 17181),
 (164, 57, 'Healthcare Representative', 'Research & Development', 9439),
 (166, 50, 'Manager', 'Research & Development', 19926),
 (187, 40, 'Manager', 'Research & Development', 19033),
 (188, 55, 'Research Director', 'Research & Development', 18722),
 (189, 34, 'Manufacturing Director', 'Research & Development', 9547),
 (190, 51, 'Healthcare Representative', 'Research & Development', 13734),
 (191, 52, 'Manager', 'Research & Development', 19999),
 (195, 45, 'Manager', 'Research & Development', 16792),
 (199, 38, 'Manufacturing Director', 'Research & Development', 6553),
 (202, 49, 'Manufacturing Director', 'Research & Development', 6804),
 (205, 38, 'Healthcare Representative', 'Research & Development', 6673),
 (210, 46, 'Healthcare Representative', 'Research & Development', 9396),
 (212, 30, 'Manufacturing Director', 'Research & Development', 8474),
 (214, 51, 'Research Director', 'Research & Development', 12490),
 (223, 37, 'Research Director', 'Research & Development', 12185),
 (232, 42, 'Manager', 'Research & Development', 19232),
 (245, 45, 'Manager', 'Research & Development', 19202),
 (246, 31, 'Research Director', 'Research & Development', 13675),
 (250, 45, 'Manufacturing Director', 'Research & Development', 6434),
 (251, 37, 'Manufacturing Director', 'Research & Development', 10048),
 (252, 39, 'Healthcare Representative', 'Research & Development', 10938),
 (254, 42, 'Research Scientist', 'Research & Development', 6545),
 (258, 40, 'Research Director', 'Research & Development', 19436),
 (269, 45, 'Healthcare Representative', 'Research & Development', 13496),
 (271, 55, 'Manager', 'Research & Development', 19045),
 (272, 47, 'Manager', 'Research & Development', 11849),
 (276, 37, 'Research Director', 'Research & Development', 13603),
 (277, 35, 'Manager', 'Research & Development', 11996),
 (279, 26, 'Manufacturing Director', 'Research & Development', 6397),
 (280, 50, 'Research Director', 'Research & Development', 19144),
 (281, 53, 'Research Director', 'Research & Development', 17584),
 (291, 49, 'Research Director', 'Research & Development', 18665),
 (305, 39, 'Healthcare Representative', 'Research & Development', 9613),
 (308, 38, 'Research Director', 'Research & Development', 12061),
 (314, 33, 'Manager', 'Research & Development', 11878),
 (315, 39, 'Manager', 'Research & Development', 17068),
 (317, 49, 'Healthcare Representative', 'Research & Development', 13964),
 (326, 31, 'Manufacturing Director', 'Research & Development', 8943),
 (327, 39, 'Manager', 'Research & Development', 19272),
 (330, 47, 'Research Director', 'Research & Development', 18300),
 (334, 43, 'Healthcare Representative', 'Research & Development', 9985),
 (341, 37, 'Manufacturing Director', 'Research & Development', 6347),
 (342, 38, 'Research Director', 'Research & Development', 11510),
 (343, 31, 'Manufacturing Director', 'Research & Development', 7143),
 (345, 35, 'Manufacturing Director', 'Research & Development', 8095),
 (349, 42, 'Research Director', 'Research & Development', 15992),
 (357, 42, 'Healthcare Representative', 'Research & Development', 6781),
 (361, 57, 'Healthcare Representative', 'Research & Development', 6755),
 (368, 50, 'Healthcare Representative', 'Research & Development', 10496),
 (373, 35, 'Healthcare Representative', 'Research & Development', 6540),
 (376, 49, 'Healthcare Representative', 'Research & Development', 10965),
 (380, 55, 'Manager', 'Research & Development', 16659),
 (391, 43, 'Research Director', 'Research & Development', 14336),
 (393, 54, 'Research Director', 'Research & Development', 19406),
 (401, 39, 'Manager', 'Research & Development', 19197),
 (407, 52, 'Manufacturing Director', 'Research & Development', 7969),
 (409, 52, 'Manager', 'Research & Development', 16555),
 (412, 60, 'Manager', 'Research & Development', 19566),
 (421, 29, 'Research Director', 'Research & Development', 11935),
 (426, 50, 'Manager', 'Research & Development', 17046),
 (430, 46, 'Research Director', 'Research & Development', 17861),
 (435, 31, 'Manufacturing Director', 'Research & Development', 10648),
 (436, 33, 'Manager', 'Research & Development', 13610),
 (439, 35, 'Healthcare Representative', 'Research & Development', 7632),
 (440, 31, 'Healthcare Representative', 'Research & Development', 9824),
 (449, 40, 'Manufacturing Director', 'Research & Development', 13237),
 (452, 42, 'Manufacturing Director', 'Research & Development', 7406),
 (456, 33, 'Research Director', 'Research & Development', 16184),
 (460, 41, 'Healthcare Representative', 'Research & Development', 6811),
 (465, 37, 'Manufacturing Director', 'Research & Development', 7491),
 (466, 46, 'Healthcare Representative', 'Research & Development', 10527),
 (472, 38, 'Healthcare Representative', 'Research & Development', 9824),
 (473, 37, 'Manufacturing Director', 'Research & Development', 6447),
 (474, 49, 'Research Director', 'Research & Development', 19502),
 (490, 43, 'Research Director', 'Research & Development', 16627),
 (493, 48, 'Manager', 'Research & Development', 15402),
 (498, 44, 'Manager', 'Research & Development', 19513),
 (501, 32, 'Research Scientist', 'Research & Development', 6322),
 (507, 37, 'Manufacturing Director', 'Research & Development', 9434),
 (509, 35, 'Research Scientist', 'Research & Development', 6646),
 (510, 33, 'Healthcare Representative', 'Research & Development', 7725),
 (512, 36, 'Manufacturing Director', 'Research & Development', 8847),
 (525, 34, 'Healthcare Representative', 'Research & Development', 8621),
 (530, 38, 'Healthcare Representative', 'Research & Development', 7625),
 (531, 27, 'Manufacturing Director', 'Research & Development', 7412),
 (532, 32, 'Research Director', 'Research & Development', 11159),
 (535, 53, 'Research Director', 'Research & Development', 14814),
 (538, 27, 'Manufacturing Director', 'Research & Development', 8793),
 (542, 36, 'Research Director', 'Research & Development', 11713),
 (543, 38, 'Manufacturing Director', 'Research & Development', 7861),
 (553, 56, 'Healthcare Representative', 'Research & Development', 11103),
 (555, 27, 'Healthcare Representative', 'Research & Development', 6811),
 (569, 55, 'Manager', 'Research & Development', 19859),
 (585, 42, 'Manager', 'Research & Development', 18430),
 (589, 50, 'Research Director', 'Research & Development', 17639),
 (591, 33, 'Research Director', 'Research & Development', 11691),
 (593, 47, 'Manager', 'Research & Development', 16752),
 (596, 58, 'Research Director', 'Research & Development', 19246),
 (603, 30, 'Manufacturing Director', 'Research & Development', 6877),
 (606, 38, 'Healthcare Representative', 'Research & Development', 6288),
 (610, 43, 'Research Director', 'Research & Development', 17159),
 (611, 27, 'Research Director', 'Research & Development', 12808),
 (612, 35, 'Manufacturing Director', 'Research & Development', 10221),
 (628, 52, 'Manufacturing Director', 'Research & Development', 13826),
 (636, 35, 'Manufacturing Director', 'Research & Development', 10685),
 (648, 35, 'Manufacturing Director', 'Research & Development', 10903),
 (650, 53, 'Research Director', 'Research & Development', 14275),
 (654, 50, 'Manager', 'Research & Development', 17924),
 (665, 36, 'Healthcare Representative', 'Research & Development', 6586),
 (675, 58, 'Healthcare Representative', 'Research & Development', 10552),
 (678, 49, 'Laboratory Technician', 'Research & Development', 7403),
 (682, 38, 'Research Director', 'Research & Development', 13582),
 (693, 32, 'Manufacturing Director', 'Research & Development', 6725),
 (695, 33, 'Healthcare Representative', 'Research & Development', 6949),
 (700, 52, 'Manager', 'Research & Development', 17099),
 (715, 50, 'Research Director', 'Research & Development', 17399),
 (717, 41, 'Research Director', 'Research & Development', 19419),
 (722, 50, 'Manufacturing Director', 'Research & Development', 13973),
 (724, 46, 'Manufacturing Director', 'Research & Development', 10845),
 (729, 54, 'Manufacturing Director', 'Research & Development', 10739),
 (730, 35, 'Healthcare Representative', 'Research & Development', 10388),
 (731, 30, 'Research Director', 'Research & Development', 11416),
 (737, 48, 'Healthcare Representative', 'Research & Development', 10999),
 (739, 39, 'Manufacturing Director', 'Research & Development', 12742),
 (744, 59, 'Manufacturing Director', 'Research & Development', 13726),
 (746, 55, 'Healthcare Representative', 'Research & Development', 6385),
 (747, 41, 'Research Director', 'Research & Development', 19973),
 (754, 39, 'Manufacturing Director', 'Research & Development', 10880),
 (767, 50, 'Research Director', 'Research & Development', 19237),
 (771, 46, 'Research Director', 'Research & Development', 19627),
 (774, 36, 'Manufacturing Director', 'Research & Development', 8858),
 (775, 55, 'Manager', 'Research & Development', 16756),
 (781, 28, 'Healthcare Representative', 'Research & Development', 8722),
 (783, 30, 'Manufacturing Director', 'Research & Development', 9957),
 (785, 38, 'Healthcare Representative', 'Research & Development', 8823),
 (786, 40, 'Healthcare Representative', 'Research & Development', 10322),
 (788, 55, 'Manufacturing Director', 'Research & Development', 10976),
 (791, 33, 'Healthcare Representative', 'Research & Development', 7119),
 (795, 34, 'Healthcare Representative', 'Research & Development', 7756),
 (800, 42, 'Manager', 'Research & Development', 17665),
 (805, 48, 'Manager', 'Research & Development', 16885),
 (807, 52, 'Healthcare Representative', 'Research & Development', 10445),
 (810, 28, 'Manufacturing Director', 'Research & Development', 7655),
 (813, 43, 'Manufacturing Director', 'Research & Development', 10820),
 (814, 39, 'Healthcare Representative', 'Research & Development', 12169),
 (815, 40, 'Research Director', 'Research & Development', 19626),
 (817, 39, 'Laboratory Technician', 'Research & Development', 6782),
 (818, 36, 'Manufacturing Director', 'Research & Development', 7779),
 (838, 40, 'Research Director', 'Research & Development', 13499),
 (847, 35, 'Manufacturing Director', 'Research & Development', 10274),
 (852, 56, 'Manager', 'Research & Development', 19943),
 (856, 37, 'Manufacturing Director', 'Research & Development', 6474),
 (859, 53, 'Manager', 'Research & Development', 18606),
 (868, 50, 'Manager', 'Research & Development', 17856),
 (870, 46, 'Research Director', 'Research & Development', 19081),
 (878, 46, 'Manufacturing Director', 'Research & Development', 7379),
 (883, 36, 'Manufacturing Director', 'Research & Development', 10252),
 (888, 42, 'Research Director', 'Research & Development', 13191),
 (891, 54, 'Manufacturing Director', 'Research & Development', 10502),
 (895, 54, 'Research Director', 'Research & Development', 17779),
 (896, 31, 'Healthcare Representative', 'Research & Development', 6833),
 (897, 31, 'Healthcare Representative', 'Research & Development', 6812),
 (899, 43, 'Research Director', 'Research & Development', 19740),
 (900, 49, 'Manager', 'Research & Development', 18711),
 (904, 29, 'Healthcare Representative', 'Research & Development', 6623),
 (905, 48, 'Research Director', 'Research & Development', 18265),
 (906, 29, 'Research Director', 'Research & Development', 16124),
 (915, 55, 'Healthcare Representative', 'Research & Development', 13577),
 (920, 59, 'Manufacturing Director', 'Research & Development', 10512),
 (923, 44, 'Manager', 'Research & Development', 19190),
 (929, 44, 'Healthcare Representative', 'Research & Development', 7978),
 (937, 45, 'Manager', 'Research & Development', 18061),
 (938, 39, 'Manager', 'Research & Development', 17123),
 (943, 36, 'Healthcare Representative', 'Research & Development', 7094),
 (945, 28, 'Laboratory Technician', 'Research & Development', 6674),
 (946, 50, 'Research Director', 'Research & Development', 16880),
 (949, 30, 'Manager', 'Research & Development', 11916),
 (955, 42, 'Manager', 'Research & Development', 17861),
 (956, 55, 'Manager', 'Research & Development', 19187),
 (959, 34, 'Healthcare Representative', 'Research & Development', 8500),
 (967, 58, 'Manufacturing Director', 'Research & Development', 10008),
 (970, 48, 'Manufacturing Director', 'Research & Development', 7898),
 (972, 51, 'Manufacturing Director', 'Research & Development', 13142),
 (977, 56, 'Manufacturing Director', 'Research & Development', 13402),
 (979, 40, 'Healthcare Representative', 'Research & Development', 6377),
 (984, 34, 'Healthcare Representative', 'Research & Development', 6687),
 (993, 39, 'Healthcare Representative', 'Research & Development', 10920),
 (995, 52, 'Manufacturing Director', 'Research & Development', 13247),
 (1003, 35, 'Manufacturing Director', 'Research & Development', 9362),
 (1008, 29, 'Healthcare Representative', 'Research & Development', 7553),
 (1009, 54, 'Research Director', 'Research & Development', 17328),
 (1010, 58, 'Research Director', 'Research & Development', 19701),
 (1011, 55, 'Research Director', 'Research & Development', 14732),
 (1015, 31, 'Research Director', 'Research & Development', 16422),
 (1025, 47, 'Research Director', 'Research & Development', 17169),
 (1034, 31, 'Manufacturing Director', 'Research & Development', 7446),
 (1035, 45, 'Healthcare Representative', 'Research & Development', 10851),
 (1038, 45, 'Manufacturing Director', 'Research & Development', 9380),
 (1041, 40, 'Research Director', 'Research & Development', 13757),
 (1044, 53, 'Research Director', 'Research & Development', 16598),
 (1045, 49, 'Healthcare Representative', 'Research & Development', 6651),
 (1055, 49, 'Healthcare Representative', 'Research & Development', 10466),
 (1056, 34, 'Research Director', 'Research & Development', 17007),
 (1063, 44, 'Manufacturing Director', 'Research & Development', 10209),
 (1074, 28, 'Manufacturing Director', 'Research & Development', 6549),
 (1075, 33, 'Healthcare Representative', 'Research & Development', 6388),
 (1076, 32, 'Manager', 'Research & Development', 11244),
 (1077, 54, 'Manager', 'Research & Development', 16032),
 (1079, 44, 'Research Director', 'Research & Development', 16328),
 (1080, 39, 'Manufacturing Director', 'Research & Development', 8376),
 (1082, 35, 'Healthcare Representative', 'Research & Development', 8606),
 (1087, 50, 'Research Director', 'Research & Development', 14411),
 (1091, 29, 'Healthcare Representative', 'Research & Development', 9715),
 (1094, 42, 'Healthcare Representative', 'Research & Development', 10124),
 (1100, 45, 'Healthcare Representative', 'Research & Development', 7441),
 (1112, 53, 'Manufacturing Director', 'Research & Development', 10169),
 (1126, 29, 'Healthcare Representative', 'Research & Development', 8853),
 (1130, 42, 'Manager', 'Research & Development', 19613),
 (1139, 50, 'Healthcare Representative', 'Research & Development', 11245),
 (1141, 44, 'Research Director', 'Research & Development', 19049),
 (1157, 40, 'Manufacturing Director', 'Research & Development', 10435),
 (1162, 38, 'Manufacturing Director', 'Research & Development', 7756),
 (1165, 40, 'Manufacturing Director', 'Research & Development', 7945),
 (1167, 48, 'Manager', 'Research & Development', 15202),
 (1174, 36, 'Healthcare Representative', 'Research & Development', 8008),
 (1177, 49, 'Research Director', 'Research & Development', 16413),
 (1178, 50, 'Research Director', 'Research & Development', 13269),
 (1182, 49, 'Healthcare Representative', 'Research & Development', 13966),
 (1184, 36, 'Healthcare Representative', 'Research & Development', 6842),
 (1185, 54, 'Manager', 'Research & Development', 17426),
 (1186, 43, 'Research Director', 'Research & Development', 17603),
 (1196, 49, 'Manager', 'Research & Development', 15379),
 (1204, 53, 'Healthcare Representative', 'Research & Development', 7005),
 (1210, 60, 'Healthcare Representative', 'Research & Development', 10883),
 (1215, 44, 'Healthcare Representative', 'Research & Development', 7879),
 (1222, 45, 'Healthcare Representative', 'Research & Development', 10748),
 (1226, 45, 'Research Director', 'Research & Development', 16704),
 (1230, 40, 'Manufacturing Director', 'Research & Development', 6516),
 (1233, 35, 'Manufacturing Director', 'Research & Development', 6883),
 (1241, 39, 'Laboratory Technician', 'Research & Development', 6472),
 (1251, 29, 'Healthcare Representative', 'Research & Development', 6294),

In [64]:
%%sql

SELECT COUNT(id) total_num 
    FROM attrition_records AS a
WHERE MonthlyIncome > (SELECT ROUND(AVG(MonthlyIncome)) avg_monthly_income
                        FROM attrition_records b
                        WHERE b.Department = a.Department)
ORDER BY a.Department;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(966,)]

In [ ]:
# Select the highest earners in each departments

In [74]:
%%sql

SELECT Department, MAX(MonthlyIncome)
    FROM attrition_records
    GROUP BY Department;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[('Human Resources', 19717),
 ('Research & Development', 19999),
 ('Sales', 19847)]

In [64]:
%%sql

SELECT id, Age, Gender, JobRole, Department, MonthlyIncome 
    FROM attrition_records
WHERE (Department, MonthlyIncome) IN (SELECT Department, MAX(MonthlyIncome)
                                        FROM attrition_records
                                        GROUP BY Department)
ORDER BY Department;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(957, 56, 'Male', 'Manager', 'Human Resources', 19717),
 (2427, 56, 'Male', 'Manager', 'Human Resources', 19717),
 (191, 52, 'Male', 'Manager', 'Research & Development', 19999),
 (1661, 52, 'Male', 'Manager', 'Research & Development', 19999),
 (919, 51, 'Male', 'Manager', 'Sales', 19847),
 (2389, 51, 'Male', 'Manager', 'Sales', 19847)]

In [ ]:
# Verify

In [65]:
%%sql

SELECT id, Age, Department, MonthlyIncome
    FROM attrition_records
WHERE Department = "Human Resources"
ORDER BY MonthlyIncome DESC
LIMIT 3;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(957, 56, 'Human Resources', 19717),
 (2427, 56, 'Human Resources', 19717),
 (1155, 47, 'Human Resources', 19658)]

In [ ]:
# Practice Qs: Verify the other results (departments)

In [66]:
%%sql

SELECT id, Age, Department, MonthlyIncome
    FROM attrition_records
WHERE Department = "Sales"
ORDER BY MonthlyIncome DESC
LIMIT 3;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(919, 51, 'Sales', 19847),
 (2389, 51, 'Sales', 19847),
 (750, 52, 'Sales', 19845)]

### Practice Qs (Advanced!)

* Find the department(s) that has/have total monthly_income greater than the average total monthly_income across all the departments.

1. Calculate the total monthly_income for each department
2. Calculate the average total monthly_income across all departments
3. Compare steps 1 and 2

In [67]:
%%sql

SELECT id, Age, Department, MonthlyIncome
FROM attrition_records
LIMIT 3;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(1, 41, 'Sales', 5993),
 (2, 49, 'Research & Development', 5130),
 (3, 37, 'Research & Development', 2090)]

In [75]:
%%sql

SELECT Department, SUM(MonthlyIncome) total_monthly_income
FROM attrition_records
GROUP BY Department
ORDER BY Department DESC;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[('Sales', 6207582),
 ('Research & Development', 12072568),
 ('Human Resources', 838468)]

In [92]:
%%sql

SELECT AVG(total_monthly_income) avg_total_monthly_income
    FROM (SELECT Department, SUM(MonthlyIncome) total_monthly_income
                FROM attrition_records
                GROUP BY Department
                ORDER BY Department DESC) AS temp;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(6372872.666666667,)]

In [91]:
%%sql

SELECT ROUND(AVG(total_monthly_income),2) avg_total_monthly_income
    FROM (SELECT Department, SUM(MonthlyIncome) total_monthly_income
                FROM attrition_records
                GROUP BY Department
                ORDER BY Department DESC) AS temp;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(6372872.67,)]

In [83]:
%%sql

SELECT Department, SUM(MonthlyIncome) total_monthly_income
FROM attrition_records
GROUP BY Department
HAVING total_monthly_income > (SELECT ROUND(AVG(total_monthly_income),2) avg_total_monthly_income
                                FROM (SELECT Department, SUM(MonthlyIncome) total_monthly_income
                                            FROM attrition_records
                                            GROUP BY Department
                                            ORDER BY Department DESC) AS temp);

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[('Research & Development', 12072568)]

In [87]:
%%sql

WITH t1 AS
        (SELECT Department, SUM(MonthlyIncome) total_monthly_income
        FROM attrition_records
        GROUP BY Department)
    
SELECT * FROM t1;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[('Human Resources', 838468),
 ('Research & Development', 12072568),
 ('Sales', 6207582)]

In [90]:
%%sql

WITH t1 AS
        (SELECT Department, SUM(MonthlyIncome) total_monthly_income
        FROM attrition_records
        GROUP BY Department)

SELECT * FROM t1
WHERE total_monthly_income > (SELECT ROUND(AVG(total_monthly_income),2) avg_total_monthly_income
                                FROM t1 
                              ORDER BY Department DESC);

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[('Research & Development', 12072568)]

4

In [ ]:
# Step 1

In [ ]:
%%sql

SELECT Department, SUM(MonthlyIncome) total_monthly_income
FROM attrition_records
GROUP BY Department;

In [ ]:
# Step 2

In [ ]:
%%sql

SELECT ROUND(AVG(total_monthly_income), 2) avg_total
FROM (SELECT Department, SUM(MonthlyIncome) total_monthly_income
        FROM attrition_records
        GROUP BY Department) temp;

In [ ]:
# Step 3

In [ ]:
%%sql

SELECT Department, SUM(MonthlyIncome) total_monthly_income
    FROM attrition_records
    GROUP BY Department
HAVING total_monthly_income > (SELECT ROUND(AVG(total_monthly_income), 2) avg_total
                                FROM (SELECT Department, SUM(MonthlyIncome) total_monthly_income
                                        FROM attrition_records
                                        GROUP BY Department) temp);

### Cleaner Version

* Using **`WITH`** Clause

In [ ]:
%%sql

WITH salary_sum AS
    (SELECT Department, SUM(MonthlyIncome) total_monthly_income
        FROM attrition_records
        GROUP BY Department)
SELECT * 
    FROM salary_sum
WHERE total_monthly_income > (SELECT ROUND(AVG(total_monthly_income), 2) avg_total
                                FROM salary_sum);

### CASE CLAUSE

#### SYNTAX:

```sql
SELECT column_1, column_2, column_3,
CASE
    WHEN condition_1 THEN result_1
    WHEN condition_2 THEN result_2
    ...
    WHEN condition_n THEN result_n
    ELSE result_n+1
END AS new_column
FROM table_name;

```

In [95]:
%%sql

SELECT id, Gender, Age, Department, MonthlyIncome
    FROM attrition_records
LIMIT 20;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(1, 'Female', 41, 'Sales', 5993),
 (2, 'Male', 49, 'Research & Development', 5130),
 (3, 'Male', 37, 'Research & Development', 2090),
 (4, 'Female', 33, 'Research & Development', 2909),
 (5, 'Male', 27, 'Research & Development', 3468),
 (6, 'Male', 32, 'Research & Development', 3068),
 (7, 'Female', 59, 'Research & Development', 2670),
 (8, 'Male', 30, 'Research & Development', 2693),
 (9, 'Male', 38, 'Research & Development', 9526),
 (10, 'Male', 36, 'Research & Development', 5237),
 (11, 'Male', 35, 'Research & Development', 2426),
 (12, 'Female', 29, 'Research & Development', 4193),
 (13, 'Male', 31, 'Research & Development', 2911),
 (14, 'Male', 34, 'Research & Development', 2661),
 (15, 'Male', 28, 'Research & Development', 2028),
 (16, 'Female', 29, 'Research & Development', 9980),
 (17, 'Male', 32, 'Research & Development', 3298),
 (18, 'Male', 22, 'Research & Development', 2935),
 (19, 'Female', 53, 'Sales', 15427),
 (20, 'Male', 38, 'Research & Development', 3944)]

In [97]:
%%sql

SELECT id, Gender, Age, Department, MonthlyIncome,
    CASE
        WHEN MonthlyIncome < 3000 THEN "Low earner!"
        WHEN MonthlyIncome < 6500 THEN "Moderate earner"
        ELSE "High earner!"
        END AS grade
    FROM attrition_records
LIMIT 20;

   postgresql://postgres:***@localhost/myDB
 * sqlite:///db/attr_data.db
Done.

[(1, 'Female', 41, 'Sales', 5993, 'Moderate earner'),
 (2, 'Male', 49, 'Research & Development', 5130, 'Moderate earner'),
 (3, 'Male', 37, 'Research & Development', 2090, 'Low earner!'),
 (4, 'Female', 33, 'Research & Development', 2909, 'Low earner!'),
 (5, 'Male', 27, 'Research & Development', 3468, 'Moderate earner'),
 (6, 'Male', 32, 'Research & Development', 3068, 'Moderate earner'),
 (7, 'Female', 59, 'Research & Development', 2670, 'Low earner!'),
 (8, 'Male', 30, 'Research & Development', 2693, 'Low earner!'),
 (9, 'Male', 38, 'Research & Development', 9526, None),
 (10, 'Male', 36, 'Research & Development', 5237, 'Moderate earner'),
 (11, 'Male', 35, 'Research & Development', 2426, 'Low earner!'),
 (12, 'Female', 29, 'Research & Development', 4193, 'Moderate earner'),
 (13, 'Male', 31, 'Research & Development', 2911, 'Low earner!'),
 (14, 'Male', 34, 'Research & Development', 2661, 'Low earner!'),
 (15, 'Male', 28, 'Research & Development', 2028, 'Low earner!'),
 (16, 'Female', 29, 'Research & Development', 9980, None),
 (17, 'Male', 32, 'Research & Development', 3298, 'Moderate earner'),
 (18, 'Male', 22, 'Research & Development', 2935, 'Low earner!'),
 (19, 'Female', 53, 'Sales', 15427, None),
 (20, 'Male', 38, 'Research & Development', 3944, 'Moderate earner')]

CASE
    WHEN ... THEN
    WHEN ... THEN
       ...
   ELSE 
   END AS new_col

### Additional Resources

* [Sub-queries](https://www.youtube.com/watch?v=nJIEIzF7tDw&t=3108s)